h1 {
                text-align: center;
            }
            .clas {
                font-size: 3rem;
            }
            #ide {
                text-transform: uppercase;
                font-weight: bold;
            }